<div class="outer-wrapper">
  <div class="people-container" >
    <span>{{'fleet.title' | translate}}</span>
    <button appAnimetable (click)="boatFilter(0)" [ngClass]="{'selected':boatFilterValue==0}" >{{'fleet.all'|translate}}</button>
    <button appAnimetable (click)="boatFilter(5)" [ngClass]="{'selected':boatFilterValue==5}">5</button>
    <button appAnimetable (click)="boatFilter(6)" [ngClass]="{'selected':boatFilterValue==6}">7</button>
    <button appAnimetable (click)="boatFilter(8)"[ngClass]="{'selected':boatFilterValue==8}" >10</button>
  </div>
  <div
    id="scroll-area"
    (touchend)="onTouchEnd($event)"
    (mouseup)="onMouseUp($event)"
    (touchstart)="onTouchStart($event)"
    (mousedown)="onMouseDown($event)"
    class="main-container"
  >
    <app-card
      class="card"
      *ngFor="let boat of boatsToShow; let i = index"
      [boat]="boat"
      [boatId]="i"
      [id]="'boat-' + i"
    />
  </div>
</div>
<div class="same-info-container">
  <span class="title">{{'fleet.equipment.title' | translate}}</span>
  <app-info-row
    [text]="'fleet.equipment.fuel.title' | translate"
    icon="gas-station"
    [value]="'fleet.equipment.fuel.value' | translate"
  ></app-info-row>
  <app-info-row [text]="'fleet.equipment.gps.title' | translate" icon="gps" [value]="'fleet.equipment.gps.value' | translate"></app-info-row>
  <app-info-row [text]="'fleet.equipment.map.title' | translate" icon="map" [value]="'fleet.equipment.map.value' | translate"></app-info-row>
  <app-info-row [text]="'fleet.equipment.mp3.title' | translate" icon="music" [value]="'fleet.equipment.mp3.value' | translate" />
  <app-info-row [text]="'fleet.equipment.box.title' | translate" icon="ice-box" [value]="'fleet.equipment.box.value' | translate" />
  <app-info-row [text]="'fleet.equipment.ladder.title' | translate" icon="swim-ladder" [value]="'fleet.equipment.ladder.value' | translate" />
  <app-info-row [text]="'fleet.equipment.trim.title' | translate" icon="engine" [value]="'fleet.equipment.trim.value' | translate" />
  <app-info-row [text]="'fleet.equipment.aid.title' | translate" icon="kit" [value]="'fleet.equipment.aid.value' | translate" />
  <app-info-row [text]="'fleet.equipment.chair.title' | translate" icon="seat" [value]="'fleet.equipment.chair.value' | translate" />
  <div class="insurance"> 
    {{'fleet.equipment.insurance' | translate}}
  </div>
</div>