<div class="outer-wrapper">
  <div class="people-container" >
    <span>People Capacity</span>
    <button appAnimetable (click)="boatFilter(0)" [ngClass]="{'selected':boatFilterValue==0}" >All</button>
    <button appAnimetable (click)="boatFilter(5)" [ngClass]="{'selected':boatFilterValue==5}">5</button>
    <button appAnimetable (click)="boatFilter(7)" [ngClass]="{'selected':boatFilterValue==7}">7</button>
    <button appAnimetable (click)="boatFilter(10)"[ngClass]="{'selected':boatFilterValue==10}" >10</button>
  </div>
  <div
    id="scroll-area"
    (touchend)="onTouchEnd($event)"
    (mouseup)="onMouseUp($event)"
    (touchstart)="onTouchStart($event)"
    (mousedown)="onMouseDown($event)"
    class="main-container"
  >
    <app-card
      class="card"
      *ngFor="let boat of boatsToShow; let i = index"
      [boat]="boat"
      [boatId]="i"
      [id]="'boat-' + i"
    />
  </div>
</div>
<div class="same-info-container">
  <span class="title">Equipment & incurance</span>
  <app-info-row
    text="Fuel tank"
    icon="gas-station"
    value="Start with full tank"
  ></app-info-row>
  <app-info-row text="GPS" icon="gps" value="Tracking System"></app-info-row>
  <app-info-row text="Map" icon="map" value="GPS Navigation"></app-info-row>
  <app-info-row text="Mp3 Player" icon="music" value="USB/Bt" />
  <app-info-row text="Box" icon="ice-box" value="Cooler" />
  <app-info-row text="Ladder" icon="swim-ladder" value="Swim Ladder" />
  <app-info-row text="Trim" icon="engine" value="Power Trim" />
  <app-info-row text="First Aid" icon="kit" value="Safety Kit" />
  <app-info-row text="Deck chair" icon="seat" value="Deck chair" />
  <div class="insurance"> 
    The boat is delivered after thorough safety inspection, so that it meets all its requirements for navigation. 
 The boat is insured against body injuries and property damage as a result of collision against third parties at sea. 
 Upon delivering the boat, the customer agrees that all terms and conditions are met.
  </div>
</div>