.outer-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 80vw;
  max-width: 390px;
  background-color: transparent;
  height: fit-content;
  border-radius: 10px;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 10px;
  z-index: 1;
  padding-bottom: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.left-arrow {
  left: -30px;
  transform: rotate(180deg);
}

.right-arrow {
  right: 10px;
}

.slide-in-left {
  animation-name: slideInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes slideInLeft {
  0% {
    left: -30px;
  }
  100% {
    left: 10px;
  }
}
.slide-out-left {
  animation-name: slideOutLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes slideOutLeft {
  0% {
    left: 10px;
  }
  100% {
    left: -30px;
  }
}
.slide-out-right {
  animation-name: slideOutRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes slideOutRight {
  0% {
    right: 10px;
  }
  100% {
    right: -30px;
  }
}
.slide-in-right {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes slideInRight {
  0% {
    right: -30px;
  }
  100% {
    right: 10px;
  }
}

.bullet-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.bullet {
  background: grey;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.selected {
  background-color: black !important;
}

.same-info-container {
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
  border: 2px solid black;
  margin: 5px;
  border-radius: 20px;
  margin-top: 40px;
  z-index: 2;
  background-color: white;
  .title {
    position: absolute;
    top: -11px;
    left: 10px;
    font-family: titleFont;
    background-color: white;
    border-radius: 10px;
  }
}
