:host {
  width: 100vw;
  height: 200px;
  overflow-x: hidden;
  position: relative;
  display: flex;
  z-index: 10;
  padding-bottom: 50px;
  overflow: hidden;
}
.logo-container {
  width: 140vw;
  height: 150px;
  background: black;
  transform: rotate(-2deg);
  position: fixed;
  top: -50px;
  left: -10px;
  overflow: hidden;
  z-index: 1;

  .logo-img {
    position: absolute;
    top: 60%;
    left: 50vw;
    transform: rotate(2deg) translate(-50%, -50%);
    height: 40px;
    aspect-ratio: 1/1;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
  }
}

.menu-container {
  display: flex;
  gap: 20px;
  bottom: 5px;
  left: 10px;
  position: absolute;
  align-items: center;

  button {
    color: white;
    background-color: black;
    font-family: titleFont;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
  }

  span {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
  }
}

.mobile-menu-container {
  img {
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50px;
    height: 30px;
    cursor: pointer;
    transform: rotate(2deg);
  }
}

.active {
  background-color: white !important;
  color: black !important;
}


.title {
  position: absolute;
  top: 85%;
  left: 50vw;
  transform: translate(-50%,-50%) rotate(2deg);
  font-family: "prettyFont";
  font-size: large;
  color: white;
}

.boat-icon {
  position: absolute;
  top: 200px;
  left: 0;
  height: 50px;
  width: 50px;
  animation-name: flowing;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.blades-icon {
  height: 40px;
  position: absolute;
  left: 95vw;
  top: 45%;
  transform: translateX(-50%);
  z-index: 2;
}
.header-fotter-container{
  width: 100%;
  position: relative;
  top: 0;
  height: fit-content;
}
.rotate-blade-right {
  animation-name: rotate-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes rotate-right {
  0% {
    transform: translateX(-50%) rotate(360deg);
  }
  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}
.rotate-blade-left {
  animation-name: rotate-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes rotate-left {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes flowing {
  0% {
    left: -50px;
    top: 120px;
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  100% {
    left: calc(100% + 50px);
    top: 90px;
  }
}
.bg-img{
    width: 100%;
    max-height: 371px;
    object-fit: cover;
    z-index: 0;
}