<div class="card">
    <img src="/assets/destinations/blue.jpg"/>
    <span>Blue Lagoon is a shallow bay with a white sandy sea bottom. This combination of white sand and shallow water allows the water to take a very glacier-blue color. From above it seems as if someone turned on underwater lights to lighten the lagoon like a dazzling gem – it’s absolutely stunning!</span>
</div>
<div class="card" >
    <img src="/assets/destinations/mystri.webp"/>
    <span>This small jewel, which is only a short distance from the coast of Vourvourou, is a genuine heaven on earth. The natives gave it the nickname “Hawaii” with good reason because of its naturally white, blindingly bright beaches and lush, green forests. You will be astounded by the unique splendor of this location on the southern tip of Diaporos island once you arrive there. It also offers captivating, deep, tranquil seas that are perfect for endless swimming. This beach is undoubtedly the closest thing to a beautiful tropical paradise that you can find.</span>
</div>