<div class="mobile-menu" [@openClose]="open ? 'open' : 'close'">
  <button [routerLink]="['/']" (click)="toggleMenu()" routerLinkActive="active-mobile" [routerLinkActiveOptions]="{ exact: true }">
    {{ "header.home" | translate }}
  </button>
  <button [routerLink]="['/fleet']" (click)="toggleMenu()" routerLinkActive="active-mobile">
    {{ "header.fleet" | translate }}
  </button>
  <button [routerLink]="['/destinations']" (click)="toggleMenu()" routerLinkActive="active-mobile">
    {{ "header.dest" | translate }}
  </button>
  <button [routerLink]="['/reviews']" (click)="toggleMenu()" routerLinkActive="active-mobile">
    {{ "header.reviews" | translate }}
  </button>
</div>
