:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
}



.img-modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 30;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;

    div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
        gap: 25px;
        margin: 30px;
    }
    .main-img{
        width: 80%;
        border-radius: 10px;
    }
    .icon{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        filter: invert(1);
        cursor: pointer;
    }
}
