:host{
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // background: #e6feff;
    // background: linear-gradient(180deg, rgba(230, 254, 255, 1) 0%, rgba(45, 124, 194, 1) 100%);
    background-color: white;
}
.top-level{
    width: 100vw;
    height:200px;
    overflow:  hidden;
    position: absolute;
    top: 0;
    left: 0;
    .logo-container{
        width: 140vw;
        height: 150px;
        background: black;
        transform: rotate(-5deg);
        position: absolute;
        top: -50px;
        left: -10px;
        overflow: hidden;

        img{
            position: absolute;
            top:60%;
            left: 50vw;
            transform:rotate(5deg) translate(-50%,-50%);
            height: 40px;
            aspect-ratio: 1/1;
            -webkit-filter: invert(100%); /* Safari/Chrome */
            filter: invert(100%);
        }
}
}


.main-container{
    position: absolute;
    top: 55vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    width: 70vw;
    background-color: transparent;
    height: 60vh;
    min-height: fit-content;
    border-radius: 5px;
    
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:11px;
    padding-left: 10px;
    z-index: 1;
}

.prop-icon{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 100px;
    right:5px;
    animation-name: rotating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.background-icon{
    position: absolute;
    top:52%;
    left: 50%;
    height: 100px;

    transform: translate(-50%,-50%);
    z-index: 0;
}

.title{
    position:absolute;
    bottom: 10px;
    font-family: 'prettyFont';
    left: 50%;
    transform: translateX(-50%);
    font-size: large;
}

.boat-icon{
    position :absolute;
    top: 200px;
    left:0;
    height: 50px;
    width: 50px;
    animation-name: flowing;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-filter: invert(100%); /* Safari/Chrome */
            filter: invert(100%);
}

.arrow-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    height: 20px;
    width: 20px;
    animation-name: flicker;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.bullet-container{
    width: 100%;
    display:flex ;
    justify-content: center;
    gap: 15px;
    position: absolute;
    bottom: 100px;
}
.bullet{
    background: grey;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.selected{
    background-color: black !important;
}
@keyframes flicker {
    0%{
        opacity:1 ;
    }
    50%{
       opacity: 0.5;
    }
    100%{
       opacity: 1;
    }
}

@keyframes flowing {
    0%{
        left: -50px ;
        top: 120px;
    }
    10%{
        transform: rotate(-10deg);
    }
    20%{
        transform: rotate(10deg);
    }
    30%{
        transform: rotate(-10deg);
    }
    40%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    60%{
        transform: rotate(10deg);
    }
    70%{
        transform: rotate(-10deg);
    }
    100%{
        left:calc(100% + 50px);
        top: 90px;
    }
}

@keyframes rotating {
    0%{
        transform: rotate(0deg) ;
    }
    
    100%{
        transform: rotate(360deg);
    }
}