:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
}


.outer-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 80vw;
  max-width: 390px;
  background-color: transparent;
  height: fit-content;
  border-radius: 10px;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 10px;
  z-index: 1;
  padding-bottom: 10px;
}

.arrow-right-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.arrow-left-icon {
  position: absolute;
  top: 50%;
  left: -30px;
  height: 20px;
  width: 20px;
  transform: rotate(180deg);
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.slide-in-left {
  animation-name: slideInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes slideInLeft {
  0% {
    left: -30px;
  }
  100% {
    left: 10px;
  }
}
.slide-out-left {
  animation-name: slideOutLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes slideOutLeft {
  0% {
    left: 10px;
  }
  100% {
    left: -30px;
  }
}
.slide-out-right {
  animation-name: slideOutRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes slideOutRight {
  0% {
    right: 10px;
  }
  100% {
    right: -30px;
  }
}
.slide-in-right {
  animation-name: slideInRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes slideInRight {
  0% {
    right: -30px;
  }
  100% {
    right: 10px;
  }
}
.bullet-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.bullet {
  background: grey;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.selected {
  background-color: black !important;
}


.same-info-container {
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
  border: 2px solid black;
  margin: 5px;
  border-radius: 20px;
  margin-top: 40px;
}

.img-modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 30;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    .main-img{
        width: 80%;
        border-radius: 10px;
    }
    .icon{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        filter: invert(1);
        cursor: pointer;
    }
}
