:host{
    display: block;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
}
.top-level{
    width: 100vw;
    height:150px;
    overflow-x:  hidden;
    position: relative;
    .logo-container{
        width: 140vw;
        height: 150px;
        background: black;
        transform: rotate(-2deg);
        position: absolute;
        top: -50px;
        left: -10px;
        overflow: hidden;

        img{
            position: absolute;
            top:60%;
            left: 50vw;
            transform:rotate(5deg) translate(-50%,-50%);
            height: 40px;
            aspect-ratio: 1/1;
            -webkit-filter: invert(100%); /* Safari/Chrome */
            filter: invert(100%);
        }
}
}

.outer-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-container{
    width: 80vw;
    max-width: 390px;
    background-color: transparent;
    height: 60vh;
    min-height: fit-content;
    border-radius: 10px;
    
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:50px;
    padding-left: 30px;
    padding-top: 30px;
    z-index: 1;
    padding-bottom: 10px;
}



.background-icon{
    height: 50px;
    margin-top: 5px;
}

.title{
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'prettyFont';
    font-size: large;
}

.boat-icon{
    position :absolute;
    top: 200px;
    left:0;
    height: 50px;
    width: 50px;
    animation-name: flowing;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-filter: invert(100%); /* Safari/Chrome */
            filter: invert(100%);
}

.arrow-right-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    height: 20px;
    width: 20px;
}
.arrow-left-icon{
    position: absolute;
    top: 50%;
    left: -30px;
    height: 20px;
    width: 20px;
    transform: rotate(180deg);
    
}
.slide-in-left{
    animation-name: slideInLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes slideInLeft {
    0%{
        left:-30px;
    }
    100%{
        left:10px;
    }
}
.slide-out-left{
    animation-name: slideOutLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes slideOutLeft {
    0%{
        left:10px;
    }
    100%{
        left:-30px;
    }
}
.slide-out-right{
    animation-name: slideOutRight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes slideOutRight {
    0%{
        right:10px;
    }
    100%{
        right:-30px;
    }
}
.slide-in-right{
    animation-name: slideInRight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes slideInRight {
    0%{
        right:-30px;
    }
    100%{
        right:10px;
    }
}
.bullet-container{
    width: 100%;
    display:flex ;
    justify-content: center;
    gap: 15px;
}
.bullet{
    background: grey;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.selected{
    background-color: black !important;
}
.rotate-blade-right{
    animation-name: rotate-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes rotate-right {
    0%{
        transform: rotate(360deg) ;
    }
    100%{
       transform: rotate(0deg);
    }
}
.rotate-blade-left{
    animation-name: rotate-left ;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes rotate-left {
    0%{
        transform: rotate(0deg) ;
    }
    100%{
       transform: rotate(360deg);
    }
}

@keyframes flowing {
    0%{
        left: -50px ;
        top: 120px;
    }
    10%{
        transform: rotate(-10deg);
    }
    20%{
        transform: rotate(10deg);
    }
    30%{
        transform: rotate(-10deg);
    }
    40%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    60%{
        transform: rotate(10deg);
    }
    70%{
        transform: rotate(-10deg);
    }
    100%{
        left:calc(100% + 50px);
        top: 90px;
    }
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
    gap: 30px;
    position: relative;
    flex-wrap: wrap;
}

.map-container{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 80vw;
        border-radius: 10px;
    }
    padding-bottom: 50px;
}
