<app-header></app-header>
<router-outlet></router-outlet>
<canvas id="canvas" width="700px" height="700px" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);"></canvas>
<div
  style="width: 100%; display: flex; justify-content: center; margin-top: 20px;position: relative;z-index: 2;"
>
  <img style="height: 40px" src="/assets/icons/parking.png" />
  <span style="font-family: titleFont">Free Parking</span>
</div>
<app-fotter></app-fotter>
<div class="img-modal-container" (click)="modalService.closeModal()" *ngIf="modalService.open">
  <div>
    <img class="main-img" *ngFor="let photo of modalService.photos" [src]="'/assets/boats/'+photo" />
  </div>
  <img class="icon" src="/assets/icons/cancel.png" (click)="modalService.closeModal()" />
</div>
