:host{
    background-color: white;
    width: 100%;
    max-width: 347px;
    min-width: 213px;
    height: 90%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: none;
    scroll-snap-align:center;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 30px;
    position: relative;
    padding-bottom: 20px;
}

.imgs-container{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-type: x mandatory;
    padding-right: 10px;
}

.img{
    width: calc(100% - 10px);
    height: auto;
    border-radius: 10px;
    max-width: 282px;
    //min-width: 161px;
    margin: 10px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.main-container{
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    gap: 10px;
}

.price{
    background-color: white;
    padding: 5px 15px;
    position: absolute;
    bottom: -10px;
    right: -25px;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    box-shadow: rgba(63, 63, 63, 0.35) 0px 5px 15px;
}