:host{
    background-color: white;
    width:fit-content;
    height: 90%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    scroll-snap-align:center;
    position: relative;
    gap: 10px; 
    margin-top: 10px;
    padding: 10px 12px;
    border-top:1px solid black ;
}
:host:nth-child(1){
    border: none;
}

.new-container{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    
}

.imgs-container{
    display: flex;
    overflow-x: scroll;
    width: 300px;
    height: 300px;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    position:relative;
}

.img{
    object-fit: cover;
    position:absolute;
    width: calc(90% - 10px);
    height: 100%;
    border-radius: 10px;
    transition: all 1.2s;
    margin: 10px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.main-container{
    display: flex;
    width: 340px;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items:  flex-start;
    gap: 5px;
    margin-top: 20px;
}

@media screen and (max-width:743px) {
    .main-container{
        align-items: center;
    }
}

.arrows-container{
    width: 50%;
    display: flex;
    gap: 10px;
    align-self: center;
    justify-content: center;
}

.arrow{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    padding: 10px;
    box-shadow: rgba(150, 150, 150, 0.35) 0px 5px 15px;
}
.left-icon{
    transform: rotate(-180deg);
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    img{
        height: 30px;
    }
    .bullet{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: black;
    }
    .title{
        font-size: larger;
        font-family: mainFont;
    }
    .info{
        font-family: titleFont;
    }
}
