:host{
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: none;
    scroll-snap-align:center;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img{
    width: 50%;
    height: auto;
    border-radius: 10px;
    max-height: 212px;
    max-width: 282px;
}

.main-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}