:host{
    background-color: white;
    width: 100%;
    max-width: 347px;
    min-width: 213px;
    height: 90%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: none;
    scroll-snap-align:center;
    position: relative;
    gap: 10px;

}

.new-container{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgs-container{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    padding-right: 10px;
}

.img{
    width: calc(100% - 10px);
    height: auto;
    border-radius: 10px;
    //min-width: 161px;
    margin: 10px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.main-container{
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.bullets-container{
    width: 50%;
    display: flex;
    gap: 10px;
    align-self: center;
    justify-content: center;
}

.img-bullet{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: lightgray;
}

.selected{
    background-color: black;
}

.price{
    background-color: white;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: rgba(63, 63, 63, 0.35) 0px 5px 10px;
    align-self: flex-end;
}