:host{
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-width: fit-content;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: none;
    scroll-snap-align:center;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 30px;
}

.img{
    width: 50%;
    height: auto;
    border-radius: 10px;
    max-width: 282px;
    min-width: 161px;

    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.main-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}