:host{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30px;
    flex-wrap: wrap;
}

.bg-img{
    position:absolute;
    top: -100px;
    z-index: 0;
    width: 100%;
    max-height: 371px;
    object-fit: cover;
}
.title{
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 3px;
}
.card{
    z-index: 1;
    position: relative;
    width: 50%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    font-family: titleFont;
    max-width: 395px;
}
.row{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.bullet{
    height: 10px;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 50%;
    align-self: flex-start;
    margin-top: 8px;
}