
 
<div class="card" >
    <span class="title" >{{'homePage.whoTitle' | translate}}</span>
    <span>
        {{'homePage.who' | translate}}
    </span>
</div>
<div class="card" >
    <span class="title" >{{'homePage.provideTitle' | translate}}</span>
    <div class="row" >
        <span class="bullet" ></span>
        <span>{{'homePage.provide.1' | translate}}</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>{{'homePage.provide.2' | translate}}</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>{{'homePage.provide.3' | translate}}</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>{{'homePage.provide.4' | translate}}</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>{{'homePage.provide.5' | translate}}</span>
    </div>
</div>

<div class="card" >
    <span class="title" >{{'homePage.chooseTitle' | translate}}</span>
    <div class="row" >
        <span class="bullet" ></span>
        <span>{{'homePage.choose.1' | translate}}</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>{{'homePage.choose.2' | translate}}</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>{{'homePage.choose.3' | translate}}</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>{{'homePage.choose.4' | translate}}</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>{{'homePage.choose.5' | translate}}</span>
    </div>
</div>
<div style="width: 100%;text-align: center;z-index: 1;position: relative;" >
    <button (click)="navigateToBoats()" >{{'homePage.see' | translate}}</button>
</div>