:host{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}


.title{
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 3px;
}
.card{
    z-index: 1;
    position: relative;
    width: 70%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    font-family: titleFont;
    max-width: 395px;
}
.row{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}
.bullet{
    height: 10px;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 50%;
    align-self: flex-start;
    margin-top: 8px;
}

button{
    padding: 10px 15px;
    color: white;
    background-color: black;
    font-family: titleFont;
    border-radius: 16px;
    cursor: pointer;
}