
 
<div class="card" >
    <span class="title" >Who we are</span>
    <span>
        At Medusa Boat Rental we love the sea and we want to share this experience with you. We are a team of professionals with many years of experience in the field of marine activities and boat trips. Our goal is to offer safe, comfortable and unforgettable sea tours for every visitor who wants to discover the hidden beauties of the area.
    </span>
</div>
<div class="card" >
    <span class="title" >What we provide</span>
    <div class="row" >
        <span class="bullet" ></span>
        <span>Boat rentals with or without a captain</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>Organized excursions to beautiful coves and secluded beaches</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>Safety equipment and fully equipped boats</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>Training & guidance for those without experience</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>Flexible packages for families, couples or groups</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>High-level service, always with a smile</span>
    </div>
</div>

<div class="card" >
    <span class="title" >Why choose us</span>
    <div class="row" >
        <span class="bullet" ></span>
        <span>Safety & reliability: Our boats are regularly maintained and meet all specifications.</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>Professionalism: Our team is always there for you for whatever you need.</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>Affordable prices with no hidden fees.</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>Local knowledge: We know the most beautiful and “secret” locations better than anyone.</span>
    </div>
    <div class="row" >
        <span class="bullet" ></span>
        <span>Unique experiences: Each excursion is tailored to your needs and desires.</span>
    </div>
</div>
<div style="width: 100%;text-align: center;" >
    <button (click)="navigateToBoats()" >See our boats</button>
</div>