<div class="card" *ngFor="let review of reviews" >
    <div>
        <img src="/assets/icons/star.png" alt="">
        <img src="/assets/icons/star.png" alt="">
        <img src="/assets/icons/star.png" alt="">
        <img src="/assets/icons/star.png" alt="">
        <img src="/assets/icons/star.png" alt="">
    </div>
    <span>{{review}}</span>
</div>
<div>
    <a href="https://www.google.com/maps/place/MEDUSA+Rent+a+Boat+Vourvourou/@40.1894116,23.8074432,15z/data=!4m8!3m7!1s0x14a8bd483088ee0b:0x18881356efef91c5!8m2!3d40.1875929!4d23.7987329!9m1!1b1!16s%2Fg%2F11nx254d23!5m1!1e4?entry=ttu&g_ep=EgoyMDI1MTIwMi4wIKXMDSoASAFQAw%3D%3D">see more</a>
</div>