<div style="display: flex;align-items: center;justify-content: center;gap: 10px;margin-bottom: 0;">
    <span style="font-family: mainFont;">From google maps</span>
    <img style="height: 30px;border-radius: 10px;" src="/assets/icons/google.png" >
</div>
<div class="card" *ngFor="let review of reviews" >
    <div>
        <img src="/assets/icons/star.png" alt="">
        <img src="/assets/icons/star.png" alt="">
        <img src="/assets/icons/star.png" alt="">
        <img src="/assets/icons/star.png" alt="">
        <img src="/assets/icons/star.png" alt="">
    </div>
    <span>{{review}}</span>
</div>
<div>
    <button (click)="seeMoreClick()">see more</button>
</div>