:host {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  z-index: 2;
  position: relative;
}

.card {
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  max-width: 480px;
  div {
    display: flex;
    justify-content: flex-start;
    img {
      height: 20px;
    }
  }
  span {
    font-family: mainFont;
  }
}
div {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  button {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: titleFont;
    cursor: pointer;
  }
}
