:host{
    width: fit-content;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    font-size: 20px;
}

img{
    height: 40px;
    width: 40px;
}

p{
    font-family: 'mainFont';
}

div{
    border-radius: 50%;
    border: 2px solid black;
    height: 40px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}