:host{
    width: fit-content;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
    font-size: 15px;
    color: black;
    border-top: 1px solid black;
    padding-top: 10px;
    flex: 0.6;
}
:host:nth-child(1){
    border-top: none;
}

img{
    height: 40px;
    width: 40px;
}

p{
    font-family: 'mainFont';
}

div{
    border-radius: 50%;
    border: 2px solid black;
    height: 40px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    font-family: 'mainFont';
}