:host{
    width: fit-content;
    min-width: 140px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    color: black;
    flex: 0.6;
    border-radius: 10px;
    padding-top: 18px;
    padding-bottom: 5px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img{
    height: 40px;
    width: 40px;
}

p{
    font-family: 'mainFont';
    position: absolute;
    top: 0;
    left: 0;
}

div{
    border-radius: 50%;
    border: 2px solid black;
    height: 40px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    font-family: 'mainFont';
}